<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="noindex, nofollow">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/img/andsju-vector.png" />

    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
    <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />

    <!-- <link rel="preload" href="style.css" as="style"> -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
